@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation-name: float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

a {
  cursor: pointer;
}

.gradientPurpleFont {
  background: linear-gradient(to right, #8e2de2 35%, #04ff69 40%, #0168f8 60%, #0168f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

